module.exports = {
    checkList: [
    {
        url: 'https://dashboard.downdetector.com/events/xxxxxx/101:161-3683.xml',
        interval: 5
    },
    {
        url: 'https://dashboard.downdetector.com/events/xxxxxx/101:161-3682.xml',
        interval: 5
    },
    {
        url: 'https://dashboard.downdetector.com/events/xxxxxx/101:161-3684.xml',
        interval: 5
    },
    {
        url: 'https://dashboard.downdetector.com/events/xxxxxx/101:161-3677.xml',
        interval: 5
    }],
    slack_url: 'https://hooks.slack.com/services/xxxxxx/xxxxxx'
};